<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>URL Shortener</h1>

    <% if (locals.backendId) { %>
    <p>URL Generated: http://localhost:8001/url/<%= backendId %></p>
    <% } %>

    <div>
      <form method="POST" action="/url">
        <label>Enter your original URL</label>
        <br />
        <input type="text" name="url" placeholder="https://example.com" />
        <button type="submit">Generate</button>
      </form>
    </div>

    <div>
      <% if (locals.urls) { %>
      <br />

      <table>
        <thead>
          <th>S. No</th>
          <th>ShortID</th>
          <th>Redirect</th>
          <th>Clicks</th>
        </thead>
        <tbody>
          <% urls.forEach((thisUrl, index) => { %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= thisUrl.shortId %></td>
            <td><%= thisUrl.redirectURL %></td>
            <td><%= thisUrl.visitHistory.length %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>

      <% } %>
    </div>
  </body>
</html>
